<!doctype html>
<html>
  <head>
    <title>About <%=financeData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=financeData.appName%></h1>
    <p>Your personal finance tracker!</p>
  </body>
</html>