<!-- Display users financial summary e.g total balance, recent transcations, budget
content: welcome message, key metrics:balances,total expenses, total income, links to add transactions or view detailed reports -->
<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <h1>Dashboard</h1>
  </head>
  <body>
    </body>