<!-- Display users financial summary e.g total balance, recent transcations, budget
content: welcome message, key metrics:balances,total expenses, total income, links to add transactions or view detailed reports -->
<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <h1>Dashboard</h1>
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
    <li><a href="about">About <%=financeData.appName%></a></li>
    <li><a href="users/register">Register with us</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="dashboard">Dashboard</a></li>
    <li><a href="transactions">Transactions</a></li>
    <li><a href="report">Reports</a></li>
    <li><a href="search">Search</a></li>
      </ul>
    </nav>
    </body>