<!doctype html>
<html>
  <head>
    <title>Welcome to <%=financeData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=financeData.appName%></h1>
    <nav class="navbar">
      <ul class="nav-list">
    <li><a href="about">About</a></li>
    <li><a href="users/register">Register</a></li>
    <li><a href="users/login">Login</a></li>

    <% if (user) { %> <!-- check if user is logged in -->
    <li><a href="transactions">Transactions</a></li>
    <li><a href="report">Reports</a></li>
    <li><a href="listusers">Users</a></li>
    <li><a href="transactions/search">Search</a></li>
    <li><a href="/users/logout">Logout</a></li>
    <% } %>  <!-- End check for logged in user -->
      </ul>
    </nav>
  </body>
</html>
