<!doctype html>
<html>
  <head>
    <title>Welcome to <%=financeData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=financeData.appName%></h1>
    <nav class="navbar">
      <ul class="nav-list">
    <li><a href="about">About <%=financeData.appName%></a></li>
    <li><a href="users/register">Register with us</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="dashboard">Dashboard</a></li>
    <li><a href="transactions">Transactions</a></li>
    <li><a href="report">Reports</a></li>
    <li><a href="search">Search</a></li>
      </ul>
    </nav>
  </body>
</html>
