<!doctype html>
<html>
  <head>
    <title>Welcome to <%=financeData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=financeData.appName%></h1>
    <p><a href="about">About <%=financeData.appName%></a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="dashboard">Dashboard</a></p>
    <p><a href="transactions">Transactions</a></p>
    <p><a href="reports">Reports</a></p>
    <p><a href="search">Search</a></p>
  </body>
</html>
