<!DOCTYPE html>
<html>
    <head>
        <title>Register for <%=financeData.appName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Register for <%=financeData.appName%></h1>
        <form action="/users/registered" method="POST">
            <p>Username: <input id="username" type="text" name="username" placeholder="Enter a username" required/></p>
            <p>Name: <input id="name" type="text" name="name" placeholder="Enter your name" required /></p>
            <p>Email: <input id="email" type="email" name="email" placeholder="Enter your email" required /></p>
            <p>Password: <input id="password" type="password" name="password" placeholder="Enter a password" required /></p>
            <input type="submit" value="Register" />
            <input type="reset" value="Clear" />
        </form>
    </body>
</html>