<!DOCTYPE html>
<html>
    <head>
        <title>Register for <%=financeData.appName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Register for <%=financeData.appName%></h1>
        <form method="POST" action="registered">
            <p>Username: <input id="user" type="text" name="user" /></p>
            <p>Email: <input id="email" type="text" name="email" /></p>
            <p>Password: <input id="password" type="text" name="password" /></p>
            <input type="submit" value="Register" />
            <input type="reset" value="Clear" />
        </form>
    </body>
</html>