<!doctype html>
<html>
  <head>
    <title><%=financeData.appName%> Reports</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
    <li><a href="about">About</a></li>
    <li><a href="users/register">Register</a></li>
    <li><a href="users/login">Login</a></li>

    <% if (user) { %> <!-- check if user is logged in -->
    <li><a href="transactions">Transactions</a></li>
    <li><a href="report">Reports</a></li>
    <li><a href="listusers">Users</a></li>
    <li><a href="transactions/search">Search</a></li>
    <li><a href="/users/logout">Logout</a></li>
    <% } %>  <!-- End check for logged in user -->
      </ul>
    </nav>
    <h1>Reports</h1>
    <section class="summary">
      <h2>Summary</h2>
      <p><strong>Total Income:</strong> £<%= totalIncome.toFixed(2) %></p>
      <p><strong>Total Expense:</strong> £<%= totalExpense.toFixed(2) %></p>
      <p><strong>Net Balance:</strong> £<%= (totalIncome - totalExpense).toFixed(2) %></p>
  </section>
  </body>
</html>