<!doctype html>
<html>
  <head>
    <title><%=financeData.appName%> Reports</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
    <li><a href="about">About</a></li>
    <li><a href="users/register">Register</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="dashboard">Dashboard</a></li>
    <li><a href="transactions">Transactions</a></li>
    <li><a href="report">Reports</a></li>
    <li><a href="listusers">Users</a></li>
    <li><a href="search">Search</a></li>
      </ul>
    </nav>
    <h1>Reports</h1>
    <p>Your reports</p>
  </body>
</html>