<!doctype html>
<html>
  <head>
    <title><%=financeData.appName%> Reports</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=financeData.appName%> Reports</h1>
    <p>Your reports</p>
  </body>
</html>