<!doctype html>
<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
    <li><a href="about">About</a></li>
    <li><a href="users/register">Register</a></li>
    <li><a href="users/login">Login</a></li>

    <% if (user) { %> <!-- check if user is logged in -->
    <li><a href="dashboard">Dashboard</a></li>
    <li><a href="transactions">Transactions</a></li>
    <li><a href="report">Reports</a></li>
    <li><a href="listusers">Users</a></li>
    <li><a href="search">Search</a></li>
    <li><a href="/users/logout">Logout</a></li>
    <% } %>  <!-- End check for logged in user -->
      </ul>
    </nav>
    <h1>Search</h1>
    <form action="/search-result" method="GET">
      <p>What are you looking for?</p>
      <input id="search-box" type="text" name="keyword">
      <!--when user inputs a search into the form its fetched and the word similar to the search are listed-->
      <input type="submit" value="Search" >
    </form>
  </body>
</html>