<!-- display all transcations 
 content: table format: date,category,amount,type(income/expense), description
 filters: date, category or amount range -->
 <!doctype html>
<html>
  <head>
    <title>Transactions</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Transcations</h1>
    <p><a href="transactions/add">Add Transactions</a></p>
    <p><a href="transactions/edit">Edit Transactions</a></p>
    <p><a href="transactions/delete">Delete Transactions</a></p>
  </body>
</html>