<!-- display all transcations 
 content: table format: date,category,amount,type(income/expense), description
 filters: date, category or amount range -->
 <!doctype html>
<html>
  <head>
    <title>Transcations</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Transcations</h1>
  </body>
</html>