/* general reset */
body, h1, p, form, input, label{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: Arial, sans-serif;
    background-color: #272036;
    color: #bf416f;
    line-height: 1.6;
    padding: 20px;
  }

h1{
    font-size: 2em;
    text-align: center;
    color: #bf416f;
    margin-bottom: 20px;
}

form{
    max-width: 400px;
    margin: 0 auto;
    background: #bfbabe;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Form Inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px;
    font-size: 1em;
}

/* buttons */
input[type="submit"],
input[type="reset"] {
    background-color :#bfbabe;
    color: #bf416f;
    padding: 10px 15px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 49%  /* buttons side by side */
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #f6c6d8;
}

input[type="reset"]:hover {
    background-color: #e76967; /* Darker red on hover */
}

/* Label Styling */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.navbar{
    background-color: #bfbabe;
    border-radius: 10px;
    padding: 10px 0px;
    position: sticky;  /* #keeps nav fixed on top when scrolling */
    top: 0;
    width: 100%;
    margin-bottom: 20px; /* Add space below the navbar */
    height: auto; /* ensures navbar adapts only to its content */
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-list li{
    margin: 0 20px; /* spacing between links */
}

.nav-list li a{
    text-decoration: none;
    color: #793e96;
    font-size: 15px;
    padding: 10px 20px; 
    transition: background-color 0.3s ease; /* smooths transition for hover efffect */
}


.ul-header {
    position: absolute; /* change to absolute for centering */
    white-space: nowrap;
    font-size: 2em;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #bf416f;
    margin: 50px 0;
    top: 70%; /*position vertically in center*/
    left: 45%; /*position horizontally in center*/
    transform: translate(-50%, -50%); /* Adjust the element's position to truly center it */
    margin-top: 10vh; /* Add space above the header */
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100hv - 60px); /* Adjust height to avoid interfering with sticky navbar */
    margin-top: 20px; /* Add spacing from the navbar */
}

table {
    position: absolute;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    top: 20%; /*position vertically in center*/
    left: 50%; /*position horizontally in center*/
    transform: translate(-50%, -50%);
    margin-top: 40vh;
}